.planner-section {
  background-color: #bca0dc;
  padding: 20px;
  min-height: 100vh;
}

.planner-container {
  display: flex;
  justify-content: center;
}

.planner {
  font-family: Rollbox, serif;
  padding: 20px;
  background-color: #663a82;
  border-radius: 4px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
}

.planner-title {
  text-align: center;
  font-size: 50px;
  font-family: PowerPuff, serif;
  color: #000000;
  margin-bottom: 20px;
}

.task-add-btn {
  font-family: RollboxBold, serif;
  border: none;
  border-radius: 4px;
  padding: 3px 15px;
  cursor: pointer;
  background-color: #bca0dc;
  color: black;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  &:hover {
    opacity: 1;
  }
}

.planner-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
}

.task-input {
  border: none;
  padding-top: 3px;
  background-color: #bca0dc;
  font-size: 14px;
  color: black;
  width: 100%;
  border-radius: 4px;
}

.planner-tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #000000;
}

.planner-task {
  position: relative;
  display: flex;
  text-align: center;
  background-color: #bca0dc;
  word-break: break-all;
  justify-content: space-between;
  font-size: 15px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.test-position {
  padding-top: 4px;
  padding-left: 10px;
}

.delete-btn {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 28px;
  min-height: 28px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #bca0dc;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.strikethrough {
  text-decoration: line-through;
}

.completed-tasks {
  padding-top: 10px;
  background-color: #c7bcd2;
  -webkit-background-clip: text;
  color: transparent;
}

.checkbox-container {
  margin-bottom: auto;
  margin-top: auto;
  position: relative;
}

[type="checkbox"] {
  opacity: 0;
}

[type="checkbox"] + label {
  padding-top: 5px;
  left: 7px;
  position: absolute;
  cursor: pointer;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  outline: 2px solid #663a82;
  border-radius: 4px;
}

[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  outline: 2px solid #663a82;
  border-radius: 4px;
}

[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("black-checkmark.png");
  background-size: contain;
  border-radius: 4px;
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}

[type="checkbox"]:not(:checked) + label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("black-checkmark.png");
  background-size: contain;
  border-radius: 4px;
  transform: scale(0);
  opacity: 0;
}
